<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4"></h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/'}">Home</a></li>
                    <li class="breadcrumb-item active">Bookings</li>
                </ol>
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9">
                            <h2></h2>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-success" th:href="@{/bookings/create?guestId={id}(id=${guest.id})}"><i
                                    class="material-icons">&#xE147;</i>
                                <span>New Booking</span></a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <input name="id" th:value="${guest.id}" type="hidden">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control" disabled name="firstName" th:value="${guest.fullName}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <input class="form-control" disabled name="lastName" th:value="${guest.gender}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" disabled name="phoneNumber" th:value="${guest.phoneNumber}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label>DOB</label>
                        <input class="form-control" disabled name="dob" th:value="${guest.dob}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Street</label>
                        <input class="form-control" disabled name="address.address"
                               th:value="${guest.address.address}" type="text">
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">

                            <table cellspacing="0" class="table table-bordered" id="dataTable"
                                   th:if="${not #lists.isEmpty(bookings)}" width="100%">
                                <thead>
                                <tr>
                                    <th>Booking No.</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Booking No.</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="booking : ${bookings}">
                                    <td th:text="${booking.bookingNo}">Tiger Nixon</td>
                                    <td th:text="${booking.fromDate}">System Architect</td>
                                    <td th:text="${booking.toDate}">Edinburgh</td>
                                    <td th:text="${booking.status}">61</td>
                                    <td th:text="${booking.amount}">61</td>
                                    <td>
                                        <a class="edit"
                                           th:href="@{/bookings/view/{id}?guestId={guestId}(id=${booking.id}, guestId=${guest.id})}">
                                            <i class="material-icons" data-toggle="tooltip"
                                               title="View Booking Details">visibility</i></a>
                                        <a class="edit"
                                           th:href="@{/bookings/edit/{id}?guestId={guestId}(id=${booking.id}, guestId=${guest.id})}">
                                            <i class="material-icons" data-toggle="tooltip"
                                               title="Edit">&#xE254;</i></a>
                                        <a class="delete"
                                           th:href="@{/bookings/delete/{id}?guestId={guestId}(id=${booking.id}, guestId=${guest.id})}">
                                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
</body>
</html>
