<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Rooms</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/'}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="${'/rooms'}">Rooms</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
                <form method="post" th:action="${'/rooms'}">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Room</h4>
                    </div>
                    <div class="modal-body">
                        <input name="id" th:value="${room.id}" type="hidden">
                        <div class="form-group">
                            <label>Room No.</label>
                            <input class="form-control" name="roomNo" th:value="${room.roomNo}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" id="roomType" name="roomType">
                                <option th:each="roomType : ${roomTypes}"
                                        th:text="${roomType}" th:value="${roomType}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Capacity</label>
                            <input class="form-control" name="capacity" th:value="${room.capacity}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" name="price" th:value="${room.price}" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" th:ref="${'/rooms'}">-->
                        <input class="btn btn-info" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
</body>
</html>
